[Unit]
Description=Dockerized_mongodb
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/run_mongodb.sh
ExecStop=/usr/bin/docker container stop web_db

[Install]
WantedBy=multi-user.target